.user-item a {
    font-weight: 700;
    color: #4f4f4f;
    text-decoration: none;
    padding-left: 1.5rem;
}

.header {
    width: 100%;
    background: #f0f0f0;
}

.header-nav {
    max-width: 1000px;
    margin: auto;
}

.header-user {
    float: right;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}