    * {
        box-sizing: border-box;
        margin: 0px;
    }

    html {
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .nav-list-main {
        background: #002e59;
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        margin-top: 30px;
        padding: 15px 0px;
        max-width: 1000px;
        margin: auto;
        position: relative;
    }

    .nav-list-seperator {
        color: white;
        text-decoration: none; 
    }


    .nav-list-item a {
        color: white;
        text-decoration: none;    }

    .imgLogo {
        width: 1000px;
        margin: auto;
        margin-bottom: 15px;
    }


    .imgLogo img {
        height: 150px;
        padding-top: 50px;
    }