* {
    box-sizing: border-box;
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

.main {
    width: 1000px;
    margin: auto;
    
}


.header {
    width: 100%;
}


.header img {
    height: 150px;
    padding-top: 50px;
}

.media_search {
    text-align: end;
    display: flex;
    justify-content: flex-end;
    font-size: 0;
}

#search_form {
    display: inline;
}

#search_form button {
    font-size: 18px;
    background: #002e59;
    color: white;
    height: 37px;
    padding: 0 10px;
    border: 0;
    cursor: pointer;
}

#search_form input {
    font-size: 18px;
    height: 37px;
    padding-left: 10px;
    border: 3px solid #002e59;
}

.navigation {
    background: #002e59;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 15px 0px;
}

.navigation span {
    color: white;
}

.navigation a {
    color: white;
    text-decoration: none;
}

#product_pic {
    width: 500px;
    height: 500px;
    padding-top: 50px;
}

.product_view {
    display: inline;
    float: right;
    clear: right;
    width: 50%;
    padding-top: 50px;
    padding-left: 25px;
}

.product_price {
    color: #4f4f4f;
}

#add_to_cart_button {
    background-color: #c41c22;
    border-color: #c41c22;
    color: white;
    padding: 10px 20px;
    line-height: 1rem;
    border-style: solid;
}

#cart_popup {
    display: none;
    background-color: #ddd;
    width: 1250px;
    position: fixed;
    z-index: 12000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.cart_added_header {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

#cart_exit {
   position: absolute;
   right: .75rem;
   top: 10px;
   text-decoration: none;
}

#cart_title {
    text-align: center;
}

#cart_product_pic {
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-left: 60px;
}


.cart_product_view {
    float: right;
    width: 50%;
}

.quantity_item {
    padding-bottom: 20px;
}