* {
    box-sizing: border-box;
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

.main {
    width: 1000px;
    margin: auto;
    
}


.header {
    width: 100%;
}


.header img {
    height: 150px;
    padding-top: 50px;
}

.media_search {
    text-align: end;
    display: flex;
    justify-content: flex-end;
    font-size: 0;
}

#search_form {
    display: inline;
}

#search_form button {
    font-size: 18px;
    background: #002e59;
    color: white;
    height: 37px;
    padding: 0 10px;
    border: 0;
    cursor: pointer;
}

#search_form input {
    font-size: 18px;
    height: 37px;
    padding-left: 10px;
    border: 3px solid #002e59;
}

.navigation {
    background: #002e59;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 15px 0px;
}

.navigation span {
    color: white;
}

.navigation a {
    color: white;
    text-decoration: none;
}

#cart_header {
    text-align: left;
}

.table_image {
    width: 100px;
    height: 100px;
}

.name_data {
    padding-left: 20px;
}

.cart_header_price, .table_price, .cart_header_quantity, .cart_header_total, .table_quantity, .table_total {
    padding-left: 100px;
}

#remove_button, .table_total {
    display: inline;
}

.cart_total {
    float: right;
}

.cart_totals {
    text-align: right;
}

.cart_total_label {
    padding-right: 100px;
    float: left;
}

li {
    border-top: 1px solid #e8e8e8;
}

#remove_button {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: white;
}

#paypal-button-container {
    float: right;
    
}
