@media (min-width: 481px) {
    #root {
        height: 100%;
        display: flex;
        flex-flow: column;
    }
}

@media (max-width: 480px) {
    #root {
        height: 100%;
        display: flex;
        flex-flow: column;
    }
}